h1 {
    text-align: center;
    color:maroon;
}

*{
    background-color: #c3e1e6;
}
h2 {
    color: black;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 10%;
}
img {
    text-align: center;
    color:blue;
    margin-left: 600px;
}
form  {
    margin-left: 550px;
    padding-top:70px;

}
button {
    background-color: yellow;
    color: blues;
    border-radius: 10px;
}
input {
    color:blue;
    
}